* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lmain{
    position: absolute;
}
.logoa1 {
    padding: 1rem;
}
.c3 {
    border: 0.1rem solid #e1e8dd;
    border-radius: 0.1rem;
    display: flex;
    /* width: 77%; */
    margin: 1.5em 3.1em;
    align-items: center;
    border-radius: 0.4rem;
}
.c3 input {
    border: none;
    padding: 0.7rem 8.72rem 0.7rem 2.5rem;
    border-radius: 0.4rem;
}
.c4 {
    position: absolute;
    padding: 0.3rem;
}
.log1 {
    display: flex;
    justify-content: center;
    /* margin-left: 150%; */
}
.log2 {
    border: 0.01rem solid #e1e8dd;
    border-radius: 0.5rem;
    width: 510px;
    margin-block-start: 3.8rem;
}
.log3 {
    text-align: center;
    padding: 39px 30px;
}
.log4 {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.conti {
    padding: 10px 100px;
    font-size: 17px;
    border-radius: 50px;
    border: none;
    background-color: #108a00;
    color: white;
}
.conti:hover {
    background-color: #3ca002;
}
.log5 {
    text-align: center;
    padding: 0px 30px;
    margin-top: -7%;
}
.hr {
    width: 78%;
    margin-block-start: 2em;
    border: 0.1px solid #e0e0e0;
    margin-left: 11%;
}
#or {
    background-color: white;
    width: 8%;
    margin: -0.9em 0em 1.5em 11.5em;
    font-size: 18px;
}
.google {
    display: flex;
    background-color: #4285f4;
    border-radius: 20px;
    width: 78%;
    margin-left: 11%;
}
.google1 {
    width: 39px;
    border-radius: 50px;
}
.google2 {
    width: 78%;
    font-size: 16px;
    border: none;
    background-color: #4285f4;
    color: white;
    cursor: pointer;
}
.apple {
    border: 1px solid black;
    width: 78%;
    display: flex;
    border-radius: 20px;
    padding: 2px 75.9px;
    margin: 4% 0% 25% 11%;
    align-items: center;
}
.apple1 {
    height: 14px;
}
.apple2 {
    background-color: white;
    padding: 8px 30px 8px 0;
    font-size: 16px;
    border-radius: 20px;
    border: none;
}
.apple input:hover {
    cursor: pointer;
}
.hr3{
    margin-top: 31%;
}
#or1 {
    background-color: white;
    width: 62%;
    margin: -0.8em 0em 1.5em 4.8em;
    font-size: 18px;
    color: #5e6d55;
}
.conti1 {
    margin: 0.5em 0em 2.4em 0em;
    padding: 9px 76px;
    background-color: white;
    border-radius: 50px;
    font-size: 17px;
    border: 2px solid #108a00;
    color: #108a00;
}
.conti1:hover {
    background-color: rgb(241, 250, 241);
    cursor: pointer;
}
.lfoot {
    background-color: #001e00;
    text-align: center;
    width: 96vw;
    padding: 3rem;
    margin: 2rem 0rem 1rem 1.5rem;
    border-radius: 0.5rem;
    color: white;
}

@media (max-width: 1441px) {
    .c3 input {
        padding: 0.7rem 9.45rem 0.7rem 2rem;
    }
}
