* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading {
    text-align: center;
    padding: 3rem;
    font-family: serif;
}
.join {
    font-size: 40px;
}
.main {
    display: flex;
    justify-content: center;
    margin: 4rem 0rem 0rem 0rem;
    grid-gap: 2rem;
}
.client {
    border: 2px solid rgb(225, 236, 225);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}
.client:hover {
    border: 0.1rem solid green;
    background-color: rgb(249, 252, 249);
}
.client[type="radio"]:hover {
    background-color: rgb(249, 252, 249);
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.radio1,
.radio2 {
    width: 2em;
    height: 3vh;
    cursor: pointer;
}
input[type="radio"]:checked {
    accent-color: green;
}
.svgtag {
    width: 2.5vw;
    cursor: pointer;
}
.client1 {
    font-size: 1.5rem;
    margin-block-start: 2rem;
    width: 12rem;
}
.button {
    padding: 0.7rem 1.9rem;
    margin-block-start: 2.5rem;
    font-size: 1rem;
    border-radius: 2rem;
    background-color: rgb(214, 221, 214);
    color: white;
    border: none;
}
.button:hover {
    background-color: rgb(6, 187, 6);
    cursor: pointer;
}
.log {
    margin-block-start: 1rem;
    font-size: 1.2rem;
}
.login {
    color: green;
    text-decoration: underline;
}
.login:hover {
    color: rgb(6, 187, 6);
}
@media (max-width: 1442px) {
    .radio1,
    .radio2 {
        height: 1.4rem;
    }
}
@media (max-width: 1025px) {
    .svgtag {
        width: 2rem;
    }
}
@media (max-width: 768px) {
    .logo {
        width: 5rem;
    }
}
@media (max-width: 426px) {
    .main {
        display: grid;
        grid-row-gap: 15px;
    }
    .join {
        font-size: 28px;
    }
    .logo {
        width: 6rem;
    }
}
