*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.client-free{
    justify-content: center;
    display: flex;
}
.free{
    border: 1px solid rgb(201, 200, 200);
    border-radius: 15px;
    width: 700px;
    height: 80vh;
    margin-block-start: 7em;
}
.join{
    text-align: center;
    font-family: serif;
    font-size: 37px;
    margin-block-start: 1em;
}
.join1{
    display: flex;
}
.hire{
    border: 1px solid rgb(201, 200, 200);
    border-radius: 10px;
    width: 38%;
    height: 28vh;
    margin: 7% 0% 0% 10%;
    display: flex;
    cursor: pointer;
}
.hire:hover{
    border: 1px solid rgb(243, 102, 87);
}
.hire[type="radio"]:hover{
    background-color: rgb(243, 102, 87);
}
.hire1{
    margin-left: 4%;
}
.hire-im{
    width: 37%;
    height: 13vh;
}
.hire1-im{
    width: 42%;
    height: 11vh;
    padding: 15px 30px;
}
input{
    width: 10%;
    height: 20px;
    margin: 3% 0% 0% 46%;
    cursor: pointer;
}
input[type="radio"]:checked {
    accent-color: rgb(243, 102, 87);
}
.radio1{
    margin-left: 52%;
}
.client{
    font-size: 24px;
    margin: 10% 0% 0% 7.5%;
    position: absolute;
}
.client1{
    margin: 10% 0% 0% 30.5%;
}
.button{
    padding: 10px 90px;
    margin: 5% 27%;
    font-size: 20px;     
    border-radius: 30px;
    background-color: rgb(243, 102, 87);
    color: white;
    border: 1px solid rgb(255,25 ,0,0.116 );
}
.button:hover{
    background-color: rgb(248, 88, 88);
    cursor: pointer;
}
.login{
    text-decoration: none;
    color: rgb(243,102,87); 
}
.login:hover{
    color: red;
    text-decoration: underline;
}